<h2>The Koan of Lazy Evaluation</h2>
<p>
  Michel Mauny was giving a guest lecture to new computer science students.
  After the students were seated, Michel pronounced "Today’s lecture will be
  about Lazy Evaluation", he paused for a moment then concluded with,
  "Are there any questions?"
</p>
